/*  HEADER */
.rule_linksAccion {
  text-decoration: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  /*background: @backgroundcolorwhite url(../Images/back7.jpg);*/

  background: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size-adjust: 0.40;
  font-size: 14px;
}
.cCargando {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* Internet Explorer 8*/

  z-index: 19999;
  transition: width 2s;
  -moz-transition: width 2s;
  /* Firefox 4 */

  -webkit-transition: width 2s;
  /* Safari and Chrome */

  -o-transition: width 2s;
  /* Opera */

  cursor: progress;
  background-color: #5b5b5b;
  color: #ffffff;
  font-size: 1.3em;
  font-family: Verdana, Geneva, sans-serif;
}
.cCargandoImg {
  cursor: progress;
  position: absolute;
  top: 32%;
  right: 45%;
  left: 35%;
  filter: alpha(opacity=80);
  /* Internet Explorer 8*/

  opacity: 0.8;
  margin: auto;
  width: 350px;
  text-align: center;
  height: 150px;
  padding: 10px;
  background-color: #5b5b5b;
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.3em;
}
.mainmenu {
  background-color: #a61b26;
  border-top-style: solid;
  border-bottom-style: solid;
  /*border-top-color: #f1f1f1;
    border-bottom-color: #f1f1f1;*/

  position: relative;
  top: 0;
  padding-left: 0px;
  list-style-type: none;
  list-style: none;
  height: 41px;
  color: #ffffff;
  font-size: larger;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.mainmenu li {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
  /*internet explorer*/

  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.mainmenu li a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.mainmenu li a:hover {
  color: #556370;
  text-decoration: none;
  cursor: pointer;
}
.mainmenu li a:visited {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
/*  HEADER */
#divImg {
  float: left;
  width: 33%;
  height: 114px;
}
#divCompanytitle {
  font-size: 10px;
  font-weight: 100;
  font-family: Verdana, Geneva, sans-serif;
  display: inline-block;
  width: 33%;
  background-color: #f1f1f1;
  /*height: auto;*/

  height: 114px;
}
#divUser {
  height: 82px;
  float: right;
  width: 33%;
  font-size: 10px;
  font-weight: 100;
  font-family: Verdana, Geneva, sans-serif;
  text-align: right;
  top: 0px;
  height: 114px;
  /*height: auto;*/

  margin-top: 1%;
  /*ultimo agregado correccion fixed*/

}
#divFooter {
  position: fixed;
  bottom: 0;
  /**top: 0px;*/

  width: 100%;
  height: 20px;
  /*color: #333;*/

  background-color: #556370;
  z-index: 100;
  text-align: center;
  color: #f1f1f1;
  font-size: 10px;
}
#divMenuRightVentas {
  right: 0;
  background-color: #e7e7e7;
  position: absolute;
  width: 275px;
  height: 22px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
.rule_border {
  border-color: #556370;
  background-color: #f5f5dc;
}
.DropDown {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  width: 120px;
  border-color: #556370;
  background-color: #f5f5dc;
}
.DropDown:hover {
  background-color: #f5f5d1;
}
.autocomplete_highlightedListItem {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background-color: #f5f5dc;
  color: #000000;
  padding: 1px;
}
.autocomplete_listItem {
  border: 1px;
  border-style: dotted;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background-color: #f5f5dc;
  color: #000000;
  padding: 1px;
  z-index: 2000;
}
