<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Integra_Develoment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="FTPUser" value="ftpuser" />
    <add key="FTPPwd" value="ftpuser" />
    <add key="FTPUserII" value="prueba" />
    <add key="FTPPwdII" value="prueba" />
    <add key="FTPUser72" value="ftpuser" />
    <add key="FTPPwd72" value="ftpuser" />
    <!--PRODUCCION SERVIDOR 72-->
    <add key="RutaWeb" value="http://189.206.75.72/ARCHIVO/Temp/DocumentosVenta/Xml/" />
    <add key="sfolderName" value="E:\DocumentosElectronicos\Temp\DocumentosVenta\Xml" />
    <add key="sfolderNameTemporales" value="\\\\VMS00001392-2\\DocumentosElectronicos\\ReportesTemporales" />
    <add key="sfolderNameExcel" value="\\VMS00001392-2\DocumentosElectronicos\ReportesTemporales" />
    <add key="sfolderName" value="\\\\VMS00001392-2\\DocumentosElectronicos\\Temp\\DocumentosVenta\\Xml" />
    <add key="sfolderNameReportes" value="\\\\VMS00001392-2\\DocumentosElectronicos\\Temp\\DocumentosVenta" />
    <add key="sfolderNameDestino" value="\\\\VMS00001392-2\\Program files\\integra empresarial" />
    <add key="sfolderRaiz" value="\\VMS00001392-2\" />
    <add key="sFolderPopUp" value="../DocumentosElectronicos/ReportesTemporales" />
    <add key="sFolderPopUp" value="../DocumentosElectronicos/ReportesTemporales" />
    <add key="GMCFacturas" value="http://189.206.75.72/GMCFacturas/" />
    <add key="sfolderReportContable" value=" E:\DocumentosElectronicos\Temp\DocumentosVenta\Contabilidad_Electronica\" />
    <add key="sFolderFacturaPopUp" value="../DocumentosElectronicos/Temp/DocumentosVenta" />
    <add key="sfolderNameDestino2" value="//VMS00001392-2//PROGRAM FILES/INTEGRA EMPRESARIAL/" />
    <add key="URLRecurso" value="http://189.206.75.72/GMCFacturas/" />
  </appSettings>
  <connectionStrings>
    <!--DESARROLLO-->
    <!--<add name="INTEGRAPRODUCCIONI" connectionString="Data Source=DMAXVPN1;Initial Catalog=INTEGRA_DEMO_V2;User ID=developer; Password=developer;"  providerName="System.Data.SqlClient"  />-->
    <!--<add name="INTEGRAPRODUCCIONI" connectionString="Data Source=189.206.75.21;Initial Catalog=INTEGRA_DEMO_V3;User ID=developer; Password=developer;Connection Lifetime=0;" providerName="System.Data.SqlClient"/>-->
    <!--PRODUCCION DEMO-->
    <add name="INTEGRAPRODUCCIONI" connectionString="Data Source=189.206.75.21;Initial Catalog=INTEGRA_DEMO;User ID=developer; Password=developer;Connection Lifetime=0;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <applicationSettings>
    <Integra_Develoment.Properties.Settings>
      <setting name="Integra_Develoment_FacturaServicio_Servicio" serializeAs="String">
        <value>http://189.206.75.72/ServicioCFDI/Servicio.asmx</value>
      </setting>
    </Integra_Develoment.Properties.Settings>
  </applicationSettings>
</configuration>